@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

#root {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

@layer utilities {
  @keyframes scroll {
    0% { transform: translateX(0%); }
    100% { transform: translateX(-50%); }
  }

  .animate-scroll {
    animation: scroll 30s linear infinite;
  }
}

